In [1]:
import sqlalchemy
from sqlalchemy import create_engine
import pandas as pd
import psycopg2

In [13]:
database_path = f"waljilkidydguz:689b06ad421784ad4ea17abfa4d649ffe291a27c691edc52169cf33b166ffc3e@ec2-52-45-179-101.compute-1.amazonaws.com:5432/d52f4bpmrc2lpv"
engine = create_engine(f'postgresql://{database_path}')

In [14]:
data_path = r"Data Cleanup\castaways.csv"
castaways_df = pd.read_csv(data_path, index_col=0)
castaways_df

,season_name,season,full_name,castaway,age,age_group,city,state,Lat,Lon,personality_type,personality_name,day,order,result,total_votes_received,immunity_idols_won
0,Survivor: Winners at War,40,Natalie Anderson,Natalie,33,26-35,Edgewater,New Jersey,40.827045,-73.975694,ESTP,Entrepreneur,2,1,1st voted out,11,1
1,Survivor: Winners at War,40,Amber Mariano,Amber,40,36-45,Pensacola,Florida,30.421309,-87.216915,ISFP,Adventurer,3,2,2nd voted out,6,0
2,Survivor: Winners at War,40,Danni Boatwright,Danni,43,36-45,Shawnee,Kansas,39.027368,-95.762754,ENFJ,Protagonist,6,3,3rd voted out,8,0
3,Survivor: Winners at War,40,Ethan Zohn,Ethan,45,36-45,Hillsborough,New Hampshire,43.147079,-71.945743,ISFP,Adventurer,9,4,4th voted out,4,0
4,Survivor: Winners at War,40,Tyson Apostol,Tyson,39,36-45,Mesa,Arizona,33.415112,-111.831479,ESTP,Entrepreneur,11,5,5th voted out,12,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
739,Survivor: Borneo,1,Sean Kenniff,Sean,30,26-35,Carle Place,New York,40.750241,-73.611875,INTP,Logician,36,12,12th voted out,9,0
740,Survivor: Borneo,1,Susan Hawk,Susan,38,36-45,Palmyra,Wisconsin,42.877788,-88.586212,ESTP,Entrepreneur,37,13,13th voted out,7,0
741,Survivor: Borneo,1,Rudy Boesch,Rudy,72,66 and older,Virginia Beach,Virginia,36.852984,-75.977418,ISTJ,Logistician,38,14,14th voted out,8,1
742,Survivor: Borneo,1,Kelly Wiglesworth,Kelly,22,16-25,Kernville,California,35.733073,-118.433946,ISFP,Adventurer,39,15,Runner-up,0,4
743,Survivor: Borneo,1,Richard Hatch,Richard,39,36-45,Newport,Rhode Island,41.489983,-71.313771,ENTP,Debater,39,16,Sole Survivor,6,1

In [15]:
castaways_df.to_sql(name="Castaways", con=engine, if_exists='append', index=False)