In [4]:
import pandas as pd
import numpy as np

In [5]:
csv_file = r'../castaways.csv'
castaways_df = pd.read_csv(csv_file)
castaways_df

,season_name,season,full_name,castaway,age,city,state,personality_type,day,order,result,jury_status,original_tribe,swapped_tribe,swapped_tribe2,merged_tribe,total_votes_received,immunity_idols_won
0,Survivor: Winners at War,40,Natalie Anderson,Natalie,33,Edgewater,New Jersey,ESTP,2,1,1st voted out,NaN,Sele,NaN,NaN,NaN,11,1
1,Survivor: Winners at War,40,Amber Mariano,Amber,40,Pensacola,Florida,ISFP,3,2,2nd voted out,1st jury member,Dakal,NaN,NaN,NaN,6,0
2,Survivor: Winners at War,40,Danni Boatwright,Danni,43,Shawnee,Kansas,ENFJ,6,3,3rd voted out,2nd jury member,Sele,NaN,NaN,NaN,8,0
3,Survivor: Winners at War,40,Ethan Zohn,Ethan,45,Hillsborough,New Hampshire,ISFP,9,4,4th voted out,3rd jury member,Sele,NaN,NaN,NaN,4,0
4,Survivor: Winners at War,40,Tyson Apostol,Tyson,39,Mesa,Arizona,ESTP,11,5,5th voted out,NaN,Dakal,NaN,NaN,NaN,12,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
739,Survivor: Borneo,1,Sean Kenniff,Sean,30,Carle Place,New York,INTP,36,12,12th voted out,5th jury member,Tagi,NaN,NaN,Rattana,9,0
740,Survivor: Borneo,1,Susan Hawk,Susan,38,Palmyra,Wisconsin,ESTP,37,13,13th voted out,6th jury member,Tagi,NaN,NaN,Rattana,7,0
741,Survivor: Borneo,1,Rudy Boesch,Rudy,72,Virginia Beach,Virginia,ISTJ,38,14,14th voted out,7th jury member,Tagi,NaN,NaN,Rattana,8,1
742,Survivor: Borneo,1,Kelly Wiglesworth,Kelly,22,Kernville,California,ISFP,39,15,Runner-up,NaN,Tagi,NaN,NaN,Rattana,0,4
743,Survivor: Borneo,1,Richard Hatch,Richard,39,Newport,Rhode Island,ENTP,39,16,Sole Survivor,NaN,Tagi,NaN,NaN,Rattana,6,1

In [6]:
# THIS IS THE MAIN CODE FOR ADDING THE NEW COLUMN AND PERSONALITY NAMES

conditions = [
    (castaways_df['personality_type'] == "INTJ"), # Architect
    (castaways_df['personality_type'] == "INTP"), # Logician
    (castaways_df['personality_type'] == "ENTJ"), # Commander
    (castaways_df['personality_type'] == "ENTP"), # Debater
    (castaways_df['personality_type'] == "INFJ"), # Advocate
    (castaways_df['personality_type'] == "INFP"), # Mediator
    (castaways_df['personality_type'] == "ENFJ"), # Protagonist
    (castaways_df['personality_type'] == "ENFP"), # Campaigner
    (castaways_df['personality_type'] == "ISTJ"), # Logistician
    (castaways_df['personality_type'] == "ISFJ"), # Defender
    (castaways_df['personality_type'] == "ESTJ"), # Executive
    (castaways_df['personality_type'] == "ESFJ"), # Consul
    (castaways_df['personality_type'] == "ISTP"), # Virtuoso
    (castaways_df['personality_type'] == "ISFP"), # Adventurer
    (castaways_df['personality_type'] == "ESTP"), # Entrepreneur
    (castaways_df['personality_type'] == "ESFP") # Entertainer
]

values = ["Architect", "Logician", "Commander", "Debater", "Advocate", "Mediator", "Protagonist", "Campaigner", "Logistician", "Defender", "Executive", "Consul", "Virtuoso", "Adventurer", "Entrepreneur", "Entertainer"]

castaways_df["personality_name"] = np.select(conditions, values)

castaways_df.head()

,season_name,season,full_name,castaway,age,city,state,personality_type,day,order,result,jury_status,original_tribe,swapped_tribe,swapped_tribe2,merged_tribe,total_votes_received,immunity_idols_won,personality_name
0,Survivor: Winners at War,40,Natalie Anderson,Natalie,33,Edgewater,New Jersey,ESTP,2,1,1st voted out,NaN,Sele,NaN,NaN,NaN,11,1,Entrepreneur
1,Survivor: Winners at War,40,Amber Mariano,Amber,40,Pensacola,Florida,ISFP,3,2,2nd voted out,1st jury member,Dakal,NaN,NaN,NaN,6,0,Adventurer
2,Survivor: Winners at War,40,Danni Boatwright,Danni,43,Shawnee,Kansas,ENFJ,6,3,3rd voted out,2nd jury member,Sele,NaN,NaN,NaN,8,0,Protagonist
3,Survivor: Winners at War,40,Ethan Zohn,Ethan,45,Hillsborough,New Hampshire,ISFP,9,4,4th voted out,3rd jury member,Sele,NaN,NaN,NaN,4,0,Adventurer
4,Survivor: Winners at War,40,Tyson Apostol,Tyson,39,Mesa,Arizona,ESTP,11,5,5th voted out,NaN,Dakal,NaN,NaN,NaN,12,0,Entrepreneur