In [1]:
pip install geopy

Requirement already satisfied: geopy in c:\users\tracy\anaconda3\envs\pythondata\lib\site-packages (2.2.0)
Requirement already satisfied: geographiclib<2,>=1.49 in c:\users\tracy\anaconda3\envs\pythondata\lib\site-packages (from geopy) (1.52)
Note: you may need to restart the kernel to use updated packages.

In [5]:
# Import dependencies
import pandas as pd 
from geopy.geocoders import Nominatim

In [14]:
# Import API keys
from config import g_key
if g_key == "YOUR KEY HERE!":
    import sys
    sys.path.append(r"C:\Users\Tracy\Documents\Bootcamp\API_keys")
    from config_gkey import g_key

In [15]:
# Read in data 
data_file = r"../castaways.csv"
castaways_df = pd.read_csv(data_file)
castaways_df

,season_name,season,full_name,castaway,age,city,state,personality_type,day,order,result,jury_status,original_tribe,swapped_tribe,swapped_tribe2,merged_tribe,total_votes_received,immunity_idols_won
0,Survivor: Winners at War,40,Natalie Anderson,Natalie,33,Edgewater,New Jersey,ESTP,2,1,1st voted out,NaN,Sele,NaN,NaN,NaN,11,1
1,Survivor: Winners at War,40,Amber Mariano,Amber,40,Pensacola,Florida,ISFP,3,2,2nd voted out,1st jury member,Dakal,NaN,NaN,NaN,6,0
2,Survivor: Winners at War,40,Danni Boatwright,Danni,43,Shawnee,Kansas,ENFJ,6,3,3rd voted out,2nd jury member,Sele,NaN,NaN,NaN,8,0
3,Survivor: Winners at War,40,Ethan Zohn,Ethan,45,Hillsborough,New Hampshire,ISFP,9,4,4th voted out,3rd jury member,Sele,NaN,NaN,NaN,4,0
4,Survivor: Winners at War,40,Tyson Apostol,Tyson,39,Mesa,Arizona,ESTP,11,5,5th voted out,NaN,Dakal,NaN,NaN,NaN,12,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
739,Survivor: Borneo,1,Sean Kenniff,Sean,30,Carle Place,New York,INTP,36,12,12th voted out,5th jury member,Tagi,NaN,NaN,Rattana,9,0
740,Survivor: Borneo,1,Susan Hawk,Susan,38,Palmyra,Wisconsin,ESTP,37,13,13th voted out,6th jury member,Tagi,NaN,NaN,Rattana,7,0
741,Survivor: Borneo,1,Rudy Boesch,Rudy,72,Virginia Beach,Virginia,ISTJ,38,14,14th voted out,7th jury member,Tagi,NaN,NaN,Rattana,8,1
742,Survivor: Borneo,1,Kelly Wiglesworth,Kelly,22,Kernville,California,ISFP,39,15,Runner-up,NaN,Tagi,NaN,NaN,Rattana,0,4
743,Survivor: Borneo,1,Richard Hatch,Richard,39,Newport,Rhode Island,ENTP,39,16,Sole Survivor,NaN,Tagi,NaN,NaN,Rattana,6,1

In [16]:
# Use geopy to add latitude and longitude by iterrating through city and state

# Create Blank columns for Lat and Lon
castaways_df["Lat"] = ""
castaways_df["Lon"] = ""


for index, row in castaways_df.iterrows():
    # define city and state parameters
    city = row['city']
    state = row['state']
    location_string = f'{city}, {state}'
    
    # Use geolocator to get lat and lon values from "city, state"
    geolocator = Nominatim(user_agent=g_key)
    location = geolocator.geocode(location_string)
    lat = location.latitude
    lon = location.longitude
    castaways_df.loc[index, 'Lat'] = lat
    castaways_df.loc[index, 'Lon'] = lon

castaways_df.head()

,season_name,season,full_name,castaway,age,city,state,personality_type,day,order,result,jury_status,original_tribe,swapped_tribe,swapped_tribe2,merged_tribe,total_votes_received,immunity_idols_won,Lat,Lon
0,Survivor: Winners at War,40,Natalie Anderson,Natalie,33,Edgewater,New Jersey,ESTP,2,1,1st voted out,NaN,Sele,NaN,NaN,NaN,11,1,40.827,-73.9757
1,Survivor: Winners at War,40,Amber Mariano,Amber,40,Pensacola,Florida,ISFP,3,2,2nd voted out,1st jury member,Dakal,NaN,NaN,NaN,6,0,30.4213,-87.2169
2,Survivor: Winners at War,40,Danni Boatwright,Danni,43,Shawnee,Kansas,ENFJ,6,3,3rd voted out,2nd jury member,Sele,NaN,NaN,NaN,8,0,39.0274,-95.7628
3,Survivor: Winners at War,40,Ethan Zohn,Ethan,45,Hillsborough,New Hampshire,ISFP,9,4,4th voted out,3rd jury member,Sele,NaN,NaN,NaN,4,0,43.1471,-71.9457
4,Survivor: Winners at War,40,Tyson Apostol,Tyson,39,Mesa,Arizona,ESTP,11,5,5th voted out,NaN,Dakal,NaN,NaN,NaN,12,0,33.4151,-111.831

Note from Rosa: Copied the age_grouping code here. Once the script is run again, it should incorporate the age grouping in the csv.

In [ ]:
import scipy.stats as st
import numpy as np

In [ ]:
unique_ages = castaways_df['age'].unique()
unique_ages

In [ ]:
max_age = castaways_df['age'].max()
max_age

In [ ]:
min_age = castaways_df['age'].min()
min_age

In [ ]:
bins = np.arange(15, 85, 10)
group_names = ["16-25",'26-35','36-45','46-55','56-65','66 and older']
copy_castaways_df = castaways_df.copy()
copy_castaways_df['age_group']=pd.cut(copy_castaways_df['age'], bins, labels = group_names)
# copy_castaways_df['reading_score']=pd.cut(copy_students_df['reading_score'], bins, labels = group_names)
copy_castaways_df

In [ ]:
castaways_df = copy_castaways_df[['season_name', 'season', 'full_name', 'castaway','age', 'age_group', 'city', 'state', 'Lat', 'Lon', 'personality_type', 'day', 'order', 'result', 'jury_status', 'original_tribe', 'swapped_tribe', 'swapped_tribe2', 'merged_tribe', 'total_votes_received', 'immunity_idols_won']]
castaways_df

In [ ]:
grouped_df = copy_castaways_df.groupby(pd.cut(copy_castaways_df['age'], bins, labels = group_names)).sum()
grouped_df['total_votes_received']

In [ ]:
grouped_df = copy_castaways_df.groupby(pd.cut(copy_castaways_df['age'], bins, labels = group_names)).count()
grouped_df['age_group']

Note from Rosa: Added the last line to convert dataframe to csv. When we merge all of the code, it can be changed to csv when the code is run.

In [ ]:
castaways_df.to_csv("castaways.csv")